

.backBoard{
    overflow: scroll;
     display: flexbox;
     margin : 0% auto;
     background-color: green;
     width : 800px;
     height: 300px;
 }
 
 .input{
    margin : 0% auto;
     align-self: flex-end;
     box-sizing: border-box;
     width: 800px;
     height: 30px;
 }